{% import "vbox_macros.j2" as m %}
{% if x_vbox_stub == 'generate'%}
{% if is_session_req %}
@sessionDecorator
{% endif -%}
{%- if iface_decorator_name %}
{{ iface_decorator_name }}
{% endif -%}
{% endif -%}

{# ------------------------------
   Build function signature
   ------------------------------ #}
{%- set params = [] -%}

{%- if x_vbox_stub == 'generate' -%}
    {%- do params.append('oVBoxObj') -%}
{%- endif -%}

{%- if in_params -%}
    {%- for p in in_params -%}
        {%- if p.name != 'oRequest' -%}
            {%- set py_name = p.name -%}
            {%- do params.append(py_name) -%}
        {%- endif -%}
    {%- endfor -%}
{%- endif -%}

{%- if has_request_body -%}
    {%- if request_type -%}
        {%- do params.append('oRequest: ' ~ request_type) -%}
    {%- else -%}
        {%- do params.append('oRequest') -%}
    {%- endif -%}
{%- endif -%}

{%- set param_list = params | join(', ') -%}

def {{ function_name }}({{ param_list }}):
{% if x_vbox_stub == 'hardcoded' %}
    """ Calls a wrapper that calls a hand-written function. """
    from vbox_server.controllers.internal.i_m_{{ iface_name }}_controller import i_wrapper_{{ iface_name }}_{{ method_name | lower }} as wrapper

    {%- set hardcoded_args = [] -%}
    {% for a in params %}
        {%- set arg = a.split(':')[0].strip() -%}
        {% do hardcoded_args.append(arg) %}
    {% endfor %}
    return wrapper({{ hardcoded_args | join(', ') }})
{% else %}
    """ Calls interface method I{{ iface_name | capitalize }}::{{ method_name }} """

    vbox_utils_commonChecks()
    {% if response_success_code %}
    httpCode = HTTPStatus({{ response_success_code }})
    {% else %}
    httpCode = HTTPStatus.OK
    {% endif %}
    oError = None
    {{ curr_vbox_obj }} = {{params[0]}}
    {% set call_args = [] %}
    {% if in_params %}
        {% for p in in_params %}
            {% if p.name != 'oRequest' %}
                {%- set pname = p.name -%}
                {%- set py_name = p.name -%}
                {%- set enum_match = enum_in_params | selectattr('name', 'equalto', pname) | list | first -%}
    {% if enum_match %}
    l_{{ py_name }} = swagger_to_vbox_{{ enum_match.type|lower }}({{ py_name }})
    {% else %}
    l_{{ py_name }} = {{ py_name }}
    {% endif %}
                {%- do call_args.append('l_' ~ py_name) -%}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if has_request_body %}
        {% for f in request_body_fields %}
            {% set fname = f.name %}
            {% set enum_match = enum_in_params | selectattr('name', 'equalto', fname) | list | first %}
            {% if f.type == 'array' %}
                {% if (f.items_type | default('')) == 'enum' and enum_match %}
    l_{{ fname }} = []
    for item in (oRequest.{{ fname }} or []):
        l_{{ fname }}.append(swagger_to_vbox_{{ enum_match.type|lower }}(item))
                {% else %}
    l_{{ fname }} = oRequest.{{ fname }} or []
                {% endif %}
            {% else %}
                {% if enum_match %}
    l_{{ fname }} = swagger_to_vbox_{{ enum_match.type|lower }}(oRequest.{{ fname }})
                {% else %}
    l_{{ fname }} = oRequest.{{ fname }}
                {% endif %}
            {% endif %}
            {% do call_args.append('l_' ~ fname) %}
        {% endfor %}
    {% endif %}
    {% set rt = response_type_node if (response_type_node is defined and response_type_node) else {} %}

    try:
        {% set call_args_no_select = call_args | reject('equalto', 'l_select') | list %}
        {% if response_has_body and response_type_node and response_type_node.type == "object"
            and response_type_node.ref and response_type_node["items"] %}
        [{{ response_type_node["items"] | map(attribute="name") | join(", ") }}] = {{ curr_vbox_obj }}.{{ method_name }}({{ call_args_no_select | join(", ") }})
        {% else %}
        {{ curr_vbox_obj }}.{{ method_name }}({{ call_args_no_select | join(", ") }})
        {% endif %}
    except Exception as e:
        httpCode = HTTPStatus.INTERNAL_SERVER_ERROR
        oError = Error(httpCode, str(e))

    {# ------------------------------
       Response building
       ------------------------------ #}
{% if response_has_body and response_type_node %}
    if oError is None:
    {% set has_select = (in_params is defined)
        and ((in_params | selectattr("name", "equalto", "select") | list | length) > 0) %}
    {% set select = ("l_select" if has_select else "None") %}
    {% set rt = response_type_node %}
    {% if rt.type == "object" and rt.ref and rt["items"] %}
    {% set res = 'oResponse' %}
        {{ res }} = {{ rt.ref }}()
    {% for item in rt["items"] %}
        {{ m.assign_response_item(res, item, select) }}
    {% endfor %}

    response = jsonify(oError if oError is not None else {{ res }})
    {% else %}
        {% if rt.is_array %}
            {% if rt.type == "enum" %}
    response = jsonify([vbox_to_swagger_{{ rt.ref | lower }}(item) for item in {{ res }}])
            {% elif rt.type == "interface" %}
    response = jsonify([i_fill_{{ rt.ref | lower }}(item, select) for item in {{ res }}])
            {% else %}
    response = jsonify({{ res }})
            {% endif %}
        {% else %}
            {% if rt.type == "enum" %}
    response = jsonify(vbox_to_swagger_{{ rt.ref | lower }}({{ res }}))
            {% elif rt.type == "interface" %}
    response = jsonify(i_fill_{{ rt.ref | lower }}({{ res }}, select))
            {% else %}
    response = jsonify({{ res }})
            {% endif %}
        {% endif %}
    {% endif %}
{% else %}
    if oError is None:
        response = jsonify("Successful operation")
    else:
        response = jsonify(oError)
{% endif %}

    return response, httpCode
{% endif %}
