{% import "vbox_macros.j2" as m %}
{% if is_session_req %}
@sessionDecorator
{% endif -%}
{%- if iface_decorator_name %}
{{ iface_decorator_name }}
{% endif -%}


{%- set select_param = in_help_param_list | selectattr('name', 'equalto', 'select') | map(attribute='name') | list %}
{%- if iface_decorator_name %}
{%- set obj_name = 'oVBoxObj' %}
{%- if has_request_body %}
def {{ function_name }}({{ obj_name }}, oRequest: {{ request_type }}):
{% else %}
def {{ function_name }}({{ obj_name }}{% if select_param %}, {{ select_param | join(', ') }}{% endif %}{% for param in in_params %}, {{ param.name }}{% endfor %}):
{% endif %}
{% else %}
{%- if has_request_body %}
def {{ function_name }}({% if select_param %}, {{ select_param | join(', ') }}{% endif %} oRequest: {{ request_type }}):
{% else %}
def {{ function_name }}({% if select_param %}, {{ select_param | join(', ') }}{% endif %} {% for param in in_params %}{{ param.name }}{% if not loop.last %}, {% endif %}{% endfor %}):
{% endif %}
{% endif %}
    """ Call interface method I{{ iface_name | capitalize }}::{{ method_name }} """

    vbox_utils_commonChecks()
    httpCode = HTTPStatus.OK
    oError = None

    {% if iface_decorator_name %}
    {{ curr_vbox_obj }} = oVBoxObj
    {% endif %}

    {%- set call_args = [] %}

    {%- if has_request_body %}
    o = oRequest
    {% for param in request_body_fields %}
    {% set enum_match = enum_in_params | selectattr("name", "equalto", param) | list | first %}
    {% if enum_match %}
    l_{{ param }} = swagger_to_vbox_{{ enum_match.type|lower }}(o.{{ param }})
    {% else %}
    l_{{ param }} = o.{{ param }}
    {% endif -%}
    {% set _ = call_args.append('l_' ~ param) %}
    {% endfor -%}
    {% else %}
    {% for param in in_params %}
    {% set pname = param.name %}
    {% set is_array = param.is_array | default(false) %}
    {% set vbox_type = param.x_vbox_type | default(None) %}
    {% set enum_match = enum_in_params | selectattr("name", "equalto", pname) | list | first %}
    {% if enum_match %}
    l_{{ pname }} = swagger_to_vbox_{{ enum_match.type|lower }}({{ pname }})
    {% else %}
        {% if vbox_type %}
            {% if is_array %}
    {{ pname }}_ids = [s.strip() for s in {{ pname }}.split(',') if s and s.strip()]
    l_{{ pname }} = []
    for _id in {{ pname }}_ids:
        l_{{ pname }}.append({{ m.vbox_find_func_name(vbox_type) }}(_id))
            {% else %}
    l_{{ pname }} = {{ m.vbox_find_func_name(vbox_type) }}({{ pname }})
            {% endif %}
        {% else %}
            {% if is_array %}
    l_{{ pname }} = [s.strip() for s in {{ pname }}.split(',') if s and s.strip()]
            {% endif %}
        {% endif %}
    {% endif %}
    {% set _ = call_args.append('l_' ~ pname) %}
    {% endfor -%}
    {% endif %}

    try:
        {% if returned_param_list|length > 1 %}
        [{{ returned_param_list | map(attribute='name') | join(', ') }}] = {{ curr_vbox_obj }}.{{ method_name }}({{ call_args | join(', ') }})
        {% elif returned_param_list|length == 1 %}
        {% if response_category == 'Standard' %}
        {{ returned_param_list[0].name }} = {{ curr_vbox_obj }}.{{ method_name }}({{ call_args | join(', ') }})
        {% else %}
        {{ returned_param_list[0].name }} = {{ curr_vbox_obj }}.{{ method_name }}({{ call_args | join(', ') }})
        {% endif %}
        {% else %}
        {{ curr_vbox_obj }}.{{ method_name }}({{ call_args | join(', ') }})
        {% endif %}
    except Exception as e:
        httpCode = HTTPStatus.INTERNAL_SERVER_ERROR
        oError = Error(httpCode, str(e))

    {% if response_var is defined and response_var%}
    {%- set response_var = 'oResponse' %}
    {{ response_var }} = {{ response_type }}()
    {% for param in returned_param_list %}
        {% if response_category == 'Interface' %}
    {{ response_var }}.{{ param.name }} = i_fill_{{ response_item_type | lower }}({{ param.name }}{% if select_param %}, {{ select_param | join(', ') }}{% endif %})

        {% elif response_category == 'Enum' %}
    {{ response_var }}.{{ param.name }} = vbox_to_swagger_{{ response_item_type | lower }}({{ param.name }})

        {% elif response_category == 'Array' %}
    {{ response_var }}.{{ param.name }} = []
    for item in {{ param.name }}:
            {% if response_item_type in enum_definitions %}
        {{ response_var }}.{{ param.name }}.append(vbox_to_swagger_{{ response_item_type | lower }}(item))
            {% else %}
        {{ response_var }}.{{ param.name }}.append(i_fill_{{ response_item_type | lower }}(item{% if select_param %}, {{ select_param | join(', ') }}{% endif %}))
            {% endif %}

        {% elif response_category == 'Standard' %}
            {% if param.is_array %}
    {{ response_var }}.{{ param.name }} = []
    for item in {{ param.name }}:
                {% if param.is_enum %}
        {{ response_var }}.{{ param.name }}.append(vbox_to_swagger_{{ param.type | lower }}(item))
                {% else %}
        {{ response_var }}.{{ param.name }}.append(item)
                {% endif %}
            {% else %}
                {% if param.is_enum %}
    {{ response_var }}.{{ param.name }} = vbox_to_swagger_{{ param.type | lower }}({{ param.name }})
                {% else %}
    {{ response_var }}.{{ param.name }} = {{ param.name }}
                {% endif %}
            {% endif %}
        {% endif %}
        {#{% elif response_category == 'Complex' %}#}
    {% endfor %}
    {{ m.jsonify_response_block(response_var) }}
    {% else %}{# No response #}
    {{ m.jsonify_response_block() }}
    {% endif %}

