{% macro vm_lookup_block() -%}
    oCurrMachine, oError = vbox_utils_find_machine(vmid)
    if oCurrMachine is None:
        return jsonify(oError), HTTPStatus.NOT_FOUND
    else:
        oError = None
{%- endmacro %}

{% macro try_catch_block(statement, indent=0) -%}
{%- set pad = ' ' * indent %}
{{ pad }}try:
{{ pad }}    {{ statement }}
{{ pad }}except Exception as e:
{{ pad }}    httpCode = HTTPStatus.INTERNAL_SERVER_ERROR
{{ pad }}    oError = Error(httpCode, str(e))
{%- endmacro %}

{% macro jsonify_response_block(obj_name) %}
    {% if obj_name %}
response = jsonify(oError if oError is not None else {{ obj_name }})
    {% else %}
response = jsonify(oError if oError is not None else "Successfull operation")
    {% endif %}
    return response, httpCode
{%- endmacro %}

{% macro to_snake_case(name) -%}
{%- set result = [] -%}
{%- for i in range(0, name|length) -%}
    {%- set c = name[i] -%}
    {%- if i > 0 and c.isupper() -%}
        {%- set result = result + ['_', c.lower()] -%}
    {%- else -%}
        {%- set result = result + [c.lower()] -%}
    {%- endif -%}
{%- endfor -%}
{{ result | join('') }}
{%- endmacro %}

{# 
    Macro: vbox_find_func_name

    Purpose:
    Generate VBox object lookup function name from x_vbox_type.

    Rule:
    - x_vbox_type must start with 'I'
    - drop leading 'I'
    - convert to snake_case //uncomment the line with "set iface_snake", replace "find_{{ iface_name }}_by_id" by "find_{{ iface_snake }}_by_id" 
    - prepend 'find_'
    - append '_by_id'

    Example:
    IMachine            -> find_machine_by_id
    IUSBDevice          -> find_usb_device_by_id
    IMediumAttachment   -> find_medium_attachment_by_id
#}
{% macro vbox_find_func_name(x_vbox_type) -%}
    {%- if not x_vbox_type -%}
        {{ raise('vbox_find_func_name: x_vbox_type is required') }}
    {%- endif -%}

    {%- if not x_vbox_type.startswith('I') -%}
        {{ raise('vbox_find_func_name: invalid VBox interface name: ' ~ x_vbox_type) }}
    {%- endif -%}

    {%- set iface_name = x_vbox_type[1:] | lower -%}
{#    {%- set iface_snake = iface_name | to_snake_case -%}#}
find_{{ iface_name }}_by_id
{%- endmacro %}


{# 
    Macro: assign_response_field

    Purpose:
    Assign a field in response object based on response TypeNode dict.

    Rules:
      - For enum we call vbox_to_swagger_<ref>()
      - For arrays we apply conversion per element.

    Params:
      out_var:    name of response object variable (e.g. oResponse)
      field:      response field name to set (string)
      src_expr:   python expression containing source value (string)
      node:       dict describing the source value type
      select_arg: optional select param expression to be passed into i_fill_* (string)
      indent:     base indentation (int, default=4)
#}
{% macro assign_response_field(out_var, field, src_expr, node, select_arg=None, indent=4) -%}
{%- set pad = ' ' * indent -%}
{%- set kind = node.kind if node is mapping and node.kind is defined else (node['kind'] if node is mapping and 'kind' in node else 'unknown') -%}
{%- set is_array = (node.is_array if node is mapping and node.is_array is defined else (node['is_array'] if node is mapping and 'is_array' in node else False)) -%}
{%- set ref = node.ref if node is mapping and node.ref is defined else (node['ref'] if node is mapping and 'ref' in node else '') -%}
{%- set item_kind = node.item_kind if node is mapping and node.item_kind is defined else (node['item_kind'] if node is mapping and 'item_kind' in node else '') -%}
{%- set item_ref = node.item_ref if node is mapping and node.item_ref is defined else (node['item_ref'] if node is mapping and 'item_ref' in node else '') -%}

{% if kind == 'array' or is_array %}
{{ pad }}{{ out_var }}.{{ field }} = []
{{ pad }}for item in ({{ src_expr }} or []):
{% if item_kind == 'enum' and item_ref %}
{{ pad }}    {{ out_var }}.{{ field }}.append(vbox_to_swagger_{{ item_ref | lower }}(item))
{% elif item_kind in ('object', 'interface') and item_ref %}
{{ pad }}    {{ out_var }}.{{ field }}.append(i_fill_{{ item_ref | lower }}(item{% if select_arg %}, {{ select_arg }}{% endif %}))
{% else %}
{{ pad }}    {{ out_var }}.{{ field }}.append(item)
{% endif %}
{%- elif kind == 'enum' and ref -%}
{{ pad }}{{ out_var }}.{{ field }} = vbox_to_swagger_{{ ref | lower }}({{ src_expr }})
{%- elif kind in ('object', 'interface') and ref -%}
{{ pad }}{{ out_var }}.{{ field }} = i_fill_{{ ref | lower }}({{ src_expr }}{% if select_arg %}, {{ select_arg }}{% endif %})
{%- else -%}
{{ pad }}{{ out_var }}.{{ field }} = {{ src_expr }}
{%- endif -%}
{%- endmacro %}
